body{
	background-color: #FCFCFC;
	font-family: 'Nunito', sans-serif;
	margin: 3rem;
}

h1 {
	font-size: 1.3rem;
	font-family: 'Montserrat', Helvetica, Roboto, Arial, sans-serif;
	font-weight: 600;
}

/* .header-nav {
	text-align: center;
	margin-bottom: 3rem;
} */

/* .header-nav img {
	margin-bottom: 1rem;
} */

.header-nav-subtitle{
	font-size: 1rem;
	letter-spacing: .05rem;
}

.header-nav-link{
	text-transform: uppercase;
	font-weight: 600;
	color: #000;
	letter-spacing: .05rem;
	
}

.header-nav-link:hover{
	color: #BB7676;
}

.is-active{
	color: #7b183e;
}

.content{
	margin: 3rem 0;
}

.top-bar {
overflow: hidden;
max-height: 350px;
line-height: 45px;
/*position: relative;*/
background: none;
margin-bottom: 0; 
/*max-width: 1200px;*/
}

.top-bar ul {
    background-color: transparent;        
}
